<!-- Black background with white text -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">SPACE-X</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/launches" routerLinkActive="active">LAUNCHES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/capsules" routerLinkActive="active">CAPSULES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rockets" routerLinkActive="active">ROCKETS</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container-fluid">
  <h1>SPACE-X API</h1>
  <router-outlet></router-outlet>
</div>